In [1]:
import pandas as pd

In [2]:
wiki_movies = pd.read_csv("wikidata_movies.csv")

In [3]:
wiki_movies.head()

,title,release_date,genre,director,duration,imdb_id,country,year
0,The Simple Things,1953-04-18T00:00:00Z,NaN,Charles August Nichols,7.0,tt0046318,United States,1953
1,"Duck! Rabbit, Duck!",1953-01-01T00:00:00Z,NaN,Chuck Jones,7.0,tt0045710,United States,1953
2,"The Crow and the Fox, the Cuckoo and the Rooster",1953-01-01T00:00:00Z,NaN,Ivan Aksenchuk,NaN,tt4164606,Soviet Union,1953
3,"Toot, Whistle, Plunk and Boom",1953-11-10T00:00:00Z,"documentary film, musical film","Charles August Nichols, Ward Kimball",10.0,tt0046442,United States,1953
4,Canvas Back Duck,1953-01-01T00:00:00Z,boxing film,Jack Hannah,7.0,tt0045597,United States,1953

In [4]:
wiki_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1703 non-null   object
 1   release_date  1703 non-null   object
 2   genre         926 non-null    object
 3   director      1310 non-null   object
 4   duration      933 non-null    float64
 5   imdb_id       1366 non-null   object
 6   country       1522 non-null   object
 7   year          1703 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 106.6+ KB

In [5]:
import wikipediaapi

In [6]:
wiki = wikipediaapi.Wikipedia(user_agent="DataLiteracy (ansel-heng-yu.cheung@student.uni-tuebingen.de)", language='en')

In [7]:
page = wiki.page(wiki_movies.iloc[0]["title"])

In [8]:
page.exists()

True

In [9]:
print(page.title)

The Simple Things

In [10]:
print(page.section_by_title("Plot").text)

At the start of the cartoon, Mickey is seen whistling to the tune of the song "The Simple Things" while walking along a rocky seashore, fishing gear in hand. Pluto, sniffing behind him, spots a mussel as he tries to cover up miniature geysers along the way. The mussel then squirts water at him. Pluto barks at the mussel and the mussel barks back. The mussel gets trapped on Pluto's tail after they fight. He pulls the mussel up and attempts to shove it off his tail but instead, he pulls the mussel up and down like a yo-yo. The mussel accidentally gets stuck in his mouth.
Pluto then rushes to Mickey for assistance. At first, Mickey thinks that Pluto is asking for food and feeds him a hot dog. The mussel then steals Mickey's sandwich and a full pepper shaker which causes the mussel to sneeze thus freeing itself from Pluto's mouth. The mussel bounces around sneezing and wakes up a seagull that decides to eat the mussel. The sneezing mussel escapes the seagull by entering the sea. The hungry seagull steals the hot dog that Mickey is feeding Pluto instead.
The seagull then sets his sights on the fish bait Mickey is using and unsuccessfully attempts to steal the fish while the line is being cast. Dejected but determined, the seagull then sits on top of Mickey's hat and easily steals the fish as he is baiting the hook until Mickey shoos the seagull away. He then floats under the hat to the other bait bucket and again eats the fish until Pluto notices and shoos him away and the seagull by tying up Pluto using his own tail and ears.
Mickey again catches the seagull in his bait and after the bird tries to fly away carrying the bait, Mickey throws a rock in it which weighs it down. To overcome this, the seagull spells out "FREE FRESH FISH" using flag semaphore to get the other seagulls to chase Mickey and Pluto away. The short ends with the seagull floating away with his portable radio and fish in his mouth singing the song "The Simple Things".

In [11]:
for section in page.sections:
    print(section.title)

Plot
Other appearances
Voice cast
Reception
Home media
See also
References
External links